*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size:16px;
}
body{
    background: rgb(240,240,240);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calcContainer{
    display: grid;
    grid-template: repeat(6,1fr) / repeat(4,1fr);
    width:300px;
    height:380px;
    gap: 2px;
}
.displayContainer{
    grid-column: 1 / -1;
    background:mistyrose;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

}
.clear{
    grid-column: span 2;
}
.equals{
    grid-column: span 2;
}
.btn{
    outline:none;
    cursor: pointer;
    border:1px solid red;
}
.btn:hover{
    background: green;
}